<header id="header">
  <div id="header-outer" class="inner">
    <div id="logo-image"></div>
    <div id="logo-text-wrap">
      <a href="<%- url_for() %>" id="logo-text"><%= config.title %></a>
    </div>
    <div id="subtitle-wrap">
      <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle %></a>
    </div>
  </div>
</header>
