.layout-wrap
  padding: block-margin 0
  
.layout-title
  font-size: 1.4em
  margin: 1em auto
  max-width: 800px
  
.layout-wrap-inner
  margin: 0 auto
  max-width: 800px
  .category-list,
  .category-list-child
    clearfix()
    line-height: 1.8em
  .category-list
    a
      @extends $link
  .category-list-child
    margin-left: 24px
  li
    &:before
      content: '>'
      float: left
      padding: 0 16px 0 0
  .category-list-count
    margin-left: 8px
    color: color-grey
    &:before
      content: '('
    &:after
      content: ')'
      
.tag-cloud
  a
    @extends $link
    margin-right: 8px
    &:before
      content: '#'