#header
  width: 100%
  height: banner-height
  position: fixed
  border-bottom: 1px solid color-border
  background-color: #fff

#header-outer
  height: 100%
  position: relative

#logo-text-wrap
  float: left
  margin-top: 25px
  margin-left: -10px

#logo-text
  color: #666
  font-weight: 300
  font-size: logo-size
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)
  text-decoration: none
  line-height: logo-size
  letter-spacing: 2px

#subtitle-wrap
  float: left
  margin-top: 20px
  margin-left: 20px

#subtitle
  color: #000
  font-weight: 300
  font-size: subtitle-size
  line-height: subtitle-size
  letter-spacing: 1px
  text-decoration: none

#logo-image
  margin-top: 15px
  margin-left: 10px
  float: left
  background-image: url(logo-url)
  background-size: contain
  width: 60px
  height: 50px
  transform: rotate(-90deg)
